<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Msagl" version="1.1.6" targetFramework="net472" />
  <package id="Microsoft.Msagl.Drawing" version="1.1.6" targetFramework="net472" />
  <package id="Microsoft.Msagl.GraphViewerGDI" version="1.1.7" targetFramework="net472" />
</packages>